# Conexão com MongoDB (replica set single-node é obrigatório p/ Change Streams)
MONGO_URI=mongodb://localhost:27017/?directConnection=true
DB_NAME=radar_combustivel

# Conexão com Redis Stack (necessário p/ RediSearch e TimeSeries)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Semente para reproduzir os dados fake
SEED=42
BATCH_SIZE=5000
N=2000

# Gerador de eventos contínuos
INTERVALO_SEGUNDOS=2
EVENTOS_POR_CICLO=3
